{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SHELTER</title>


        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">



    </head>
    <body >
        <header >
            <div class="logo">
            <center><img src="https://cdn.pixabay.com/photo/2016/07/21/14/18/dog-1532627_1280.png" alt=""></center>
            </div>
            <h1 > WELCOME TO SHELTER</h1>
            <h2>GIVE LIVE 🐾</h2>

                <form method="post">
                    {% csrf_token %}

                    <div class="row" style="background-color:#EAF2F8; height: 100px; align-items: center; width: auto">

                    <div class="col-sm-3">
                        <select name="vaccinated">
                            <option value="">💉---</option>
                            <option value="true">Vaccinated</option>
                            <option value="false">Not Vaccinated</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select name="gender">
                            <option value="">Gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <div class="">
                            <input type="number" name="age" ">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="search-button">
                            <input type="submit" value="Search">
                        </div>
                    </div>
                    </div>

                </form>


          </header>

         <div class="row" >
             {% for animal in animals %}
             <div class="col-sm-4">

                    <div class="card">
                      <img class="card-img-top" src="{{ animal.picture.url}}" alt="">
                      <div class="card-body">
                        <h5 class="card-title">{{ animal.name}}</h5>
                        <p class="card-text">{{ animal.description }}</p>
                      </div>
                        <p class="card-text">🐶Breed:&nbsp{{ animal.breed }}</p>
                        <p class="card-text">🧬Gender:&nbsp{{ animal.gender }}</p>
                        <p class="card-text">📆Age:&nbsp{{ animal.age }}</p>
                        <p class="card-text">💉Vaccinated:&nbsp{{ animal.vaccinated }}</p>
                        <br>



                 </div>
             </div>
             {% endfor %}

         </div>

    </body>
    <footer>
    <div class="footer-style">
        <h1 >"Amor es una palabra de cuatro patas". </h1>
    </div>
    </footer>
</html>